.modal {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__container {
  background-color: white;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 358px;
}

.modal__close {
  position: absolute;
  top: -45px;
  right: -45px;
  background-image: url(../images/close-icon.svg);
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__heading {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  font-family: Inter, Arial, sans-serif;
  margin: 0;
  margin-bottom: 54px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000;
  height: 28px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-family: Inter, Arial, sans-serif;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__button {
  color: #fff;
  background-color: #000;
  height: 50px;
  margin-top: 18px;
  font-size: 18px;
  font-weight: 400;
  font-family: Inter, Arial, sans-serif;
  line-height: 22px;
  border: none;
  border-radius: 2px;
}

.modal__button_disabled {
  opacity: 0.2;
  color: #000;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__button:hover {
  opacity: 60%;
  cursor: pointer;
}

#modal__preview-container {
  padding: 0;
  min-height: 55vh;
  min-width: 50vw;
  max-width: 75vw;
  max-height: 75vh;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
  display: flex;
}

.modal__image-caption {
  font-family: Inter, Artial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 15px;
}
.modal__error {
  visibility: hidden;
  display: block;
  font-family: "Inter", Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ff0000;
  width: 358px;
  line-height: 14.52px;
  position: absolute;
  transition: opacity 0.3s;
}

.modal__error:first-of-type {
  bottom: calc(50%);
}

.modal__error:last-of-type {
  bottom: calc(32%);
}

.modal__error_visible {
  visibility: visible;
}

.modal__button_disabled {
  opacity: 0.2;
  color: #000;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 630px) {
  .modal__close {
    top: -58px;
    right: 0;
    height: 26px;
    width: 26px;
  }
}

@media screen and (max-width: 320px) {
  .modal__container {
    width: 282px;
    padding: 25px 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: calc(100% - 35px);
    bottom: calc(100% + 26px);
  }
  .modal__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
  }
  .modal__heading {
    padding-bottom: 75px;
    margin: 0;
    width: 238px;
    height: 22px;
    font-size: 18px;
    line-height: 21.78px;
  }

  .modal__image-caption {
    max-width: 240px;
    max-height: 299px;
  }

  #preview-close-button {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 210px;
    left: 285px;
  }
  .modal__preview-image {
    width: 240px;
    height: 299px;
  }
  .modal__error:first-of-type {
    bottom: calc(48%);
  }

  .modal__error:last-of-type {
    bottom: calc(30%);
  }
}
